@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&family=Yesteryear&display=swap');

#menuBG {
    width:400px;
    height:470px;
    margin:10px auto;
}

#FrmMenu {
    width:600px;
    height:200px;
}

#totalPrice {
    width:200px;
    height:190px;
    margin: 20px auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.middle {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width:200px;
    height:200px;
    float:right;
}

#showText {
    width:200px;
    height:190px;
    margin: 0px auto;
    float:left;
}

#cart {
    top:0;margin:0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display:block;
    margin: 25px auto;
}

body {
    background-color: gray;
}

h1 {
    font-family: "Black ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
}

h3 {
    font-family: "Black ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    color:whitesmoke;
}

div {
    font-family: "Black ops One", system-ui;
}